body{
    background-color: rgb(10, 9, 9);
    padding: 0;
    margin: 0;
    
}

.image-column{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.image-column img {
  height: auto;
  width: 100%;
}