*{
    text-decoration: none;
}


.navbar{
    font-family:Calibri;
    padding-right: 15px;
    padding-left: 15px;
    height: 85px;
    
   

}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
    transition: color 0.5s;
}

.logo a:hover{
    color: rgb(133, 77, 77);
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: rgb(175, 127, 72);
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
}

.logo a{
    animation-duration: 1s;
    animation-name: sn;
}

@keyframes sn{
    from{
        margin-left: 10%;
    }
    to{
        margin-left: 0%;
    }
}