.header{
    display: flex;
    gap: 15px;
    padding-left: 25px;
}

.nav-btn{
    height: 65px;
    display: flex;
    justify-content:space-around;
    background-color: rgb(162, 166, 170);
   
}

a{
    color: aliceblue;
    font-size: 30px;
}