.search-container{
  height: 185px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #312516;
  background: linear-gradient(60deg, #131318,  #14141d,  #311e23,#5e3737);
}

.left-section{
  background: rgb(185, 81, 81);
  background: linear-gradient(45deg, #e07b7b, #ec5a5a, #f1cbcb);
  margin-left: 35px;
  width: 20%;
  padding: 8px;
  padding-left: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

h1{
  font-family: Calibri;
  font-weight: bold;
  color: rgb(240, 240, 240);
}
h1,.left-section{
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein{
  from{
    margin-left: 10%;
  }
  to{
    margin-left: 3%
  }
}


.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-btn{
  flex: 1;
  height: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 1px solid #999;
  padding: 8px 12px;
  width: 0; 
  border-radius: 8px;
  outline: none;
}

.search-btn:focus{
  border-color: #ccc;
  box-shadow: 0 0 5px rgba(204, 204, 204, 0.5);
}

.search-btn::placeholder{
  color: #aaa;
}

.right-section{
  width: 175px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 35px;
  flex-shrink: 0;
}

*{
  text-decoration: none;
}

a h2{
  font-family: Calibri;
  color: rgb(146, 148, 150);
  font-size: 30px;
  font-weight: bold;
}